/*base.css*/

body {
	padding-top: 60px;
}


a.clean:visited { color: gray; }
a.clean:hover { color: black; background-color: #BDBDBD; text-decoration: none; }
a.clean:link { color: gray; text-decoration: none; }



.navbar {
	background-image: none;
	border: none;
	background-color: #fff;
	color: gray;
	border-bottom: 1px solid #C4C0BF;
}

.navbar-toggle { background-color: #C4C0BF; }
.navbar-toggle .icon-bar { background-color: #000; }

.navbar a { color: gray; }
.navbar a:visited { color: gray; }
.navbar a:hover { color: black; font-size: 1.4em; }

.header_row {}
.content_row { padding-bottom: 60px; }
.footer_row { background-color: #C4C0BF; }

/*background colors*/
.bg-gray {background-color: #BDBDBD;}
